@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Gochi+Hand&family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Varela Round', sans-serif;
    outline: 0;
}

body {

    background-color: #f3fff7;
}

/* Cabeçalho apresentando a marca */

header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url("../assets/images-omocat/background-omori-2.webp");
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;

}

header .logo {
    display: flex;
    width: 25rem;
    height: 5rem;
    justify-content: center;
    align-self: center;
    background-image: url("../assets/images-omocat/background-omori.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% bottom ;
    border-radius: 60px;
    cursor: pointer;
}

/* Menu de Navegação */
.menu-nav {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    top: 0;
    position: sticky;
    position: -webkit-sticky;

    transition: .8s;
    z-index: 10;
    backdrop-filter: blur(1px) contrast(188%);
    -webkit-backdrop-filter: blur(2px) saturate(198%);
    background-color: rgba(228, 232, 238, 0.91);

    border: 2px solid rgba(255, 255, 255, 0.156);
}

.menu-nav ul {
    display: flex;
    flex-direction: row;
}

.insert-menu {
    border-right: 1px solid #404d61;

}

.menu-nav ul a li {
    display: flex;
    margin: 0 1rem;
    align-self: center;
    font-size: 1.17rem;
    font-weight: lighter;
    color: #404d61;
}

#painelUm,
#painelDois {
    display: flex;
    width: 84rem;
    height: 25rem;
    justify-content: space-around;
    margin: 0 auto;

}

/* Título para os cards de venda */

.omoriSun {
    color: #404d61;
    padding: 1.05rem;
    font-size: 2.5rem;
    text-align: center;
    background-image: url("../assets/images-omocat/omocat-headspace-hover.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: white;
    backdrop-filter: blur(20px);
    width: 90%;
    margin:0 auto;
    margin-top: 44rem;
    border-radius: 0.6rem;
}

.shonen {
    font-family: 'Gochi Hand', cursive;
}



/* Items de Compra */


/* Presets do card de compra */
.card {
    position: relative;
    width: 14.5rem;
    height: fit-content;
    padding: 1.02rem;
    background-color: #f3fff7;;
    border-radius: 1.09rem;
    transition: .2s;
    margin: auto -3.5rem;

}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.417);
}

/* Títulos do card */
.card .topo-item h3 {
    color: #4172b6;
    font-size: 1.09em;

}

.card .topo-item p {
    color: #999fa9;
    font-size: 1.04rem;
}

.card .topo-item span {
    position: absolute;
    color: #fef0f0;
    background: #df4e4e;
    right: -1rem;
    top: -.5rem;
    padding: 2px 10px;
    border: .15rem solid #f49191;
    border-radius: .8rem;
    font-size: .85rem;
}

.card .topo-item .last-chance {
    position: absolute;
    color: #d2c129;
    background: #ffffff;
    top: -.5rem;
    right: -.9rem;
    border: .15rem solid #d1cb23;
    font-size: .86rem;
}

/* Presets da imagem */

.card .card-img {
    position: relative;
    height: 13.5rem;
    border-radius: .6rem;
    margin: .2rem 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.card:hover .card-img img {
    /* transform: scale(1.02); */
}

/*  */


/*  */

.card:hover .card-img i {
    visibility: visible;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    top: -.4rem;
    right: -.4rem;
    color: #fff;
    background: #757d8a;
    padding: 1.15rem;
    border-radius: 6px;
    transition: .3s;
}

.card .card-img i:hover {
    background-color: #f43c3c;
    transition: .2s;
    transform: translateY(4px);
    visibility: visible;
    opacity: 1;
}

.card .item-detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card .item-detalhes .preco p {
    color: #757d8a;
    font-size: 1.02rem;
    padding: 0;
}

.card .item-detalhes .preco strong {
    color: #545d6d;
    font-size: 1.08rem;
}

.card .item-detalhes .cores {
    display: flex;
}

/* Escolha de cores do item */

.card .container {
    display: block;
    position: relative;
    top: -17px;
    right: 6px;
    margin: 1.04rem;
    cursor: pointer;
}

.container input {
    position: absolute;
    opacity: 0;
    border: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-1:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background: linear-gradient(177deg, #000000 0%, #101010 70%, #4a5e6d 100%);
    border-radius: 50%;
}

.check-in {
    opacity: 0;
    top: 0;
    left: 0;
    height: .2rem;
    width: .2rem;
    color: #ff0000;
}

.checkmark-2:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background: linear-gradient(177deg, #9ca6c9 0%, #4172b6 50%, #2f23d1 100%);
    border-radius: 50%;
}

.checkmark-3:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: linear-gradient(177deg, #dda5a5 0%, #f43c3c 40%, #d72727 100%);
}

.container input:hover~* {
    transform: scale(1.5);
    background-image: blur(17px) invert(7);
    border: .14rem solid #aaaaaa;
    transition: .15s ease-in;
    box-shadow: 0 2px 6px #0000003b;
}

.container .checkmark-1:after,
.checkmark-2:after,
.checkmark-3:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: .2rem;
    height: .6rem;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container input:checked~*:after {

    display: block;
}


/* botão de comprar  */
.card .item-comprar button {
    margin-top: .8rem;
    cursor: pointer;
    width: 100%;
    height: 2rem;

    letter-spacing: 0.08rem;
    text-transform: uppercase;
    font-size: .98rem;
    color: white;
    border-radius: .5rem;
    border: 0 solid #757d8a;
    background: linear-gradient(177deg, #6787fd, #3f66f5);
    transition: .5s ease-in-out;
}

.card .item-comprar button:hover {
    transform: scale(1.05)
}

/*  */
/* Início do footer */
#miniFooter {
    display: flex;
    height: 1rem;
    justify-content: center;
    align-items: center;
    color: #404d61;
}

#miniFooter span a {
    display: flex;
    margin: 2rem;
    color: inherit;
    font-size: 0.8rem;
    color: #404d61;
}



footer {
    height: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 50px;

}

footer span {
    color: #404d61;
    font-size: 0.6 rem;
}
.insert-preFooter{
    width: 30%;
    margin: 20px auto;
    color: #f3fff7;
    border-left: none ;
    border-right: none ;
    border-bottom: none;
    border-top: 1px #a09e9ed2 solid  ;
}
.insert-footer{
    width: 60%;
    margin: 20px auto;
    color: #f3fff7;
    border-left: none ;
    border-right: none ;
    border-bottom: none;
    border-top: 1px #a09e9ed2 solid  ;
}