@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Gochi+Hand&family=Libre+Franklin:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'VT323', monospace;
    outline: 0;
}

body {

    width: 86%;
    height: 86%;
    margin: 0 auto;


    background-color: #E4E4FF;

}

/* Cabeçalho apresentando a marca */
header {
    width: 50%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 30%;


}

header .logo {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-self: center;

    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
    border-radius: 60px;
    cursor: pointer;
}

/* Menu de Navegação */
.menu-nav {
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 30%;
}

.menu-nav ul {
    display: flex;
    flex-direction: row;
}

.menu-nav ul a li {
    display: flex;
    margin: 0 1rem;
    align-self: center;
    font-size: 1.7rem;
    font-weight: lighter;
    color: #404d61;
}

#carousel {
    width: 100%;
    height: 400px;
}

#painelUm,
#painelDois {
    display: flex;
    width: 100%;
    height: 32rem;

}

/* Título para os cards de venda */

.omoriSun {
    color: #404d61;
    margin: 2rem auto;
    font-size: 2rem;
}

.shonen {
    font-family: 'Gochi Hand', cursive;
}

/* Items de Compra */


/* Presets do card de compra */
.card {
    position: relative;
    width: 17rem;
    height: min-content;
    padding: 1.4rem;
    background-color: #fff;
    border: 2px solid #cfd1d4;
    border-radius: 1.09rem;
    transition: .8s;

    backdrop-filter: blur(17px) saturate(98%);
    -webkit-backdrop-filter: blur(8px) saturate(98%);
    background-color: rgba(255, 255, 255, 0.1);

    border: 2px solid rgba(69, 69, 69, 0.125);

}

.card:hover {
    border-color: #fff;
    transform: translateY(-15px);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
    border: 0.3rem solid rgba(69, 69, 69, 0.075);
}

/* Títulos do card */
.card .topo-item h3 {
    color: #404d61;
    font-size: 1.8em;

}

.card .topo-item p {
    color: #757d8a;
    font-size: 1.4rem;
}

.card .topo-item span {
    position: absolute;
    color: #df4e4e;
    background: #fef0f0;
    right: 1.2rem;
    top: 1rem;
    padding: 5px 10px;
    border: .15rem solid #df4e4e;
    border-radius: .8rem;
    font-size: 1.08rem;
}

/* Presets da imagem */

.card .card-img {
    position: relative;
    height: 18.5rem;
    border-radius: .8rem;
    margin: 1rem 0;
    overflow: hidden;
}

    .card .card-img img {
        width: 100%;
        height: 100%;
        transition: .4s;
    }

    .card:hover .card-img img {
        transform: scale(1.06);
    }

/*  */
/* .card .card-img i{visibility: hidden;} */
/*  */

.card:hover .card-img i{
    visibility: visible;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    top: -.3rem;
    right: -.3rem;
    color: #fff;
    background: #757d8a;
    padding: 1.15rem;
    border-radius: 6px;
    transition: .3s;
}

.card .card-img i:hover{
    background-color: #f43c3c ;
    transition: .8s;
    transform: scale(1.05);
    visibility: visible;
    opacity: 1;
}

.card .item-detalhes{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card .item-detalhes .preco p{
    color: #757d8a;
    font-size: 1.15rem;
    padding: 0;
}

.card .item-detalhes .preco strong{
    color: #545d6d;
    font-size: 1.32rem;
}

.card .item-detalhes .cores{
    display: flex;
}

/*  */

.card .container{
    display: block;
    position: relative;
    
    margin: 1.04rem;
    cursor: pointer;
}
.container input{
    position: absolute;
    opacity: 0;
    border: 0;
    cursor:pointer;
    height: 0;
    width: 0;
}
.checkmark-1:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background: linear-gradient(177deg, #000000 0%, #101010 70% , #4a5e6d 100%);
    border-radius: 50%;
}
.check-in{
    opacity: 0;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    color: #ff0000;
}
.checkmark-2:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background: linear-gradient(177deg, #9ca6c9 0%, #4172b6 50% , #2f23d1 100%);
    border-radius: 50%;
}
.checkmark-3:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: linear-gradient(177deg, #dda5a5 0%, #f43c3c 40% , #d72727 100%);
}

.container input:hover  ~ *{
    transform: scale(1.2);
    background-image: blur(17px) invert(7);
    border: .14rem solid #aaaaaa;
    transition: .15s ease-in;    
    box-shadow: 0 2px 6px  #0000003b ;
}

.container .checkmark-1:after, .checkmark-2:after, .checkmark-3:after{
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: .4rem;
    height: .8rem;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container input:checked ~ *:after{

    display: block;
}

/*  */
/* Início do footer */
#miniFooter {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#miniFooter span {
    display: flex;
    margin: 20px;

    font-size: 0.8rem;
    color: #404d61;
}

footer {
    height: 30px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 50px;

}

footer span {
    color: #404d61;
    font-size: 0.6 rem;
}